.cards {
    background-color: $color-gray-l;
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 4rem 6rem;
    padding: 15rem 0;
}
.card {
    background-color: $color-blue-d;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &__img {
        width: 100%;
        grid-column: 1 / -1;
    }
    &__title {
        grid-column: 1 / -1;
        padding: 1.5rem 11.5rem;
        background-color: $color-green-d;
        font-size: 1.6rem;
        font-weight: 700;
        text-align: center;
        width: 80%;
        justify-self: center;
        transform: translateY(-50%);
    }
    &__svg {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
    }
    &__btn {
        grid-column: 1 / -1;
    }
}
.content {
    margin: 2rem 2rem;
    display: flex;
}