.sidebar {
    background-color: $color-green-d;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
    padding-top: 3.5rem;
    display: grid;
    justify-content: center;
    @include respond(tab-lend) {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-content: end;
        padding: 3rem 3rem 0 0;
    }
}
.hamburger {
    border: none;
    background-color: $color-gray-l;
    height: .2rem;
    width: 4.5rem;
    &::before, &::after {
        content: "";
        background-color: $color-gray-l;
        height: .2rem;
        width: 4.5rem;
        display: block;
    }
    &::before {
        transform: translateY(-1.5rem);
    }
    &::after {
        transform: translateY(1.5rem);
    }
}